In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
datasets=pd.read_csv("500_Person_Gender_Height_Weight_Index.csv")

In [4]:
datasets.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [5]:
datasets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
 3   Index   500 non-null    int64
dtypes: int64(3), object(1)
memory usage: 15.8+ KB

In [6]:
datasets.describe()

           Height      Weight       Index
count  500.000000  500.000000  500.000000
mean   169.944000  106.000000    3.748000
std     16.375261   32.382607    1.355053
min    140.000000   50.000000    0.000000
25%    156.000000   80.000000    3.000000
50%    170.500000  106.000000    4.000000
75%    184.000000  136.000000    5.000000
max    199.000000  160.000000    5.000000

In [7]:
datasets.Height.head()

0    174
1    189
2    185
3    195
4    149
Name: Height, dtype: int64

In [8]:
max_thresold=datasets.Height.quantile(0.95)

In [9]:
min_thresold=datasets.Height.quantile(0.5)

In [10]:
max_thresold

195.0

In [11]:
min_thresold

170.5

In [12]:
datasets[(datasets.Height<min_thresold)]

     Gender  Height  Weight  Index
4      Male     149      61      3
6      Male     147      92      5
7      Male     154     111      5
9    Female     169     103      4
11   Female     159      80      4
..      ...     ...     ...    ...
493  Female     170      53      1
494    Male     152      98      5
495  Female     150     153      5
497  Female     141     136      5
498    Male     150      95      5

[250 rows x 4 columns]

In [13]:
datasets[(datasets.Height>max_thresold)]

     Gender  Height  Weight  Index
36   Female     197     114      3
54     Male     196     116      4
75   Female     197     154      4
85     Male     198      50      0
94     Male     197     119      4
100    Male     199     156      4
103  Female     198     145      4
145    Male     197     125      4
150  Female     196      50      0
160    Male     199      99      2
173  Female     196     131      4
174    Male     197     149      4
207  Female     196     122      4
213  Female     196     159      5
308    Male     196      69      1
326  Female     199      92      2
351    Male     197      88      2
385  Female     197      72      2
469    Male     198     109      3
488    Male     198     136      4
492  Female     198      50      0

In [14]:
df=datasets[(datasets.Height<max_thresold) & (datasets.Height>min_thresold)]

In [70]:
df.shape

(219, 4)

In [16]:
df.isna().sum()

Gender    0
Height    0
Weight    0
Index     0
dtype: int64

In [17]:
dum=pd.get_dummies(df.Gender)

In [18]:
dum

     Female  Male
0         0     1
1         0     1
2         1     0
5         0     1
8         0     1
..      ...   ...
485       0     1
487       0     1
489       1     0
496       1     0
499       0     1

[219 rows x 2 columns]

In [19]:
df2=pd.concat([df,dum],axis=1)

In [20]:
df2

     Gender  Height  Weight  Index  Female  Male
0      Male     174      96      4       0     1
1      Male     189      87      2       0     1
2    Female     185     110      4       1     0
5      Male     189     104      3       0     1
8      Male     174      90      3       0     1
..      ...     ...     ...    ...     ...   ...
485    Male     173     111      4       0     1
487    Male     187      80      2       0     1
489  Female     179     150      5       1     0
496  Female     184     121      4       1     0
499    Male     173     131      5       0     1

[219 rows x 6 columns]

In [21]:
df2.drop(["Gender","Female"],axis=1,inplace=True)

In [22]:
df2.head()

   Height  Weight  Index  Male
0     174      96      4     1
1     189      87      2     1
2     185     110      4     0
5     189     104      3     1
8     174      90      3     1

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
le=LabelEncoder()

In [25]:
df4=le.fit_transform(df.Gender)

In [26]:
df

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
5      Male     189     104      3
8      Male     174      90      3
..      ...     ...     ...    ...
485    Male     173     111      4
487    Male     187      80      2
489  Female     179     150      5
496  Female     184     121      4
499    Male     173     131      5

[219 rows x 4 columns]

In [27]:
from sklearn.preprocessing import StandardScaler

In [28]:
df.describe()

           Height      Weight       Index
count  219.000000  219.000000  219.000000
mean   182.296804  105.972603    3.337900
std      6.258831   31.194112    1.396252
min    171.000000   50.000000    0.000000
25%    178.000000   81.000000    2.000000
50%    182.000000  106.000000    4.000000
75%    187.000000  133.500000    4.000000
max    194.000000  160.000000    5.000000

In [29]:
df["gender"]=df4.reshape(-1, 1)

C:\Users\Vikram\AppData\Local\Temp\ipykernel_4632\1278926507.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["gender"]=df4.reshape(-1, 1)

In [30]:
df.head()

   Gender  Height  Weight  Index  gender
0    Male     174      96      4       1
1    Male     189      87      2       1
2  Female     185     110      4       0
5    Male     189     104      3       1
8    Male     174      90      3       1

In [31]:
df.drop("Gender",axis=1,inplace=True)

C:\Users\Vikram\AppData\Local\Temp\ipykernel_4632\1369513278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop("Gender",axis=1,inplace=True)

In [32]:
df.head()

   Height  Weight  Index  gender
0     174      96      4       1
1     189      87      2       1
2     185     110      4       0
5     189     104      3       1
8     174      90      3       1

In [33]:
x=df.drop("Weight",axis=1)

In [34]:
y=df["Weight"]

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [37]:
y_train.head()

83     118
31      52
274     83
181    117
55      89
Name: Weight, dtype: int64

In [38]:
x_test.shape

(66, 3)

In [39]:
from sklearn.linear_model import LogisticRegression

In [40]:
model=LogisticRegression().fit(x_train,y_train)

C:\Users\Vikram\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [41]:
model.predict(x_test)

array([ 80, 121,  80, 121,  50, 121,  83, 147, 147, 147, 121,  94,  83,
       147,  83,  80,  80, 147,  80,  83, 117, 147,  83, 147, 121, 140,
       147, 147, 147, 121, 117, 147, 147, 147,  54, 140, 147, 121, 121,
       147,  83, 121,  54, 121,  83,  80, 140,  54,  80, 147,  54,  94,
        50, 147,  94,  54,  83,  83,  83,  94,  80, 121,  83, 147, 147,
       117], dtype=int64)

In [42]:
model.score(x_test,y_test)

0.030303030303030304

In [43]:
model.score(x_train,y_train)

0.1503267973856209

In [44]:
from sklearn.linear_model import Lasso

In [45]:
la=Lasso().fit(x_train,y_train)

In [46]:
la.score(x_test,y_test)

0.922252811177052

In [47]:
la.score(x_train,y_train)

0.8979308184575986

In [48]:
la.predict(x_test)

array([ 85.04211135, 110.59785981,  78.82887439, 123.02433373,
        65.60719751, 126.57475485, 108.91505158, 137.13361589,
       132.69558949, 141.57164229, 109.71025453, 107.13984102,
        95.60097238, 137.13361589,  71.72803215,  73.50324271,
        77.94126911, 141.57164229,  69.95282158,  76.16605855,
       123.91193901, 138.02122117,  91.16294598, 130.92037892,
       114.14828093, 144.23445813, 138.02122117, 141.57164229,
       143.34685285, 119.47391261, 129.2375707 , 130.92037892,
       148.67248453, 131.8079842 ,  65.60719751, 144.23445813,
       130.92037892, 118.58630733, 110.59785981, 142.45924757,
       108.91505158, 130.12517598,  57.61874999, 125.68714957,
        77.05366383,  75.27845327, 144.23445813,  53.18072359,
        79.71647967, 145.12206341,  34.63341504, 100.92660406,
        50.51790775, 139.79643173, 108.91505158,  61.16917111,
        91.16294598,  81.49169023, 106.25223574,  99.1513935 ,
        75.27845327, 115.03588621,  98.26378822, 138.90882645,
       137.13361589, 114.14828093])

In [49]:
y_test

346     68
164    111
161     76
359    148
360     61
      ...
114     96
246     98
311    156
57     127
166    109
Name: Weight, Length: 66, dtype: int64

In [50]:
from sklearn.linear_model import Ridge

In [51]:
Ri=Ridge().fit(x_train,y_train)

In [52]:
Ri.score(x_test,y_test)

0.9217741767557291

In [53]:
Ri.score(x_train,y_train)

0.8988448349156777

In [54]:
from sklearn.linear_model import LinearRegression

In [55]:
L=LinearRegression().fit(x_train,y_train)

In [56]:
L.score(x_test,y_test)

0.9218946101584145

In [57]:
L.score(x_train,y_train)

0.8988571180931729

In [58]:
from sklearn.tree import DecisionTreeRegressor

In [59]:
sv=DecisionTreeRegressor().fit(x_train,y_train)

In [60]:
sv.score(x_test,y_test)

0.899050761410699

In [61]:
sv.score(x_train,y_train)

0.974826807663967

In [62]:
from sklearn.neighbors import KNeighborsRegressor

In [63]:
ne=KNeighborsRegressor().fit(x_train,y_train)

In [64]:
ne.score(x_test,y_test)

0.8690592782378497

In [65]:
from sklearn.naive_bayes import GaussianNB

In [66]:
Ga=GaussianNB().fit(x_train,y_train)

In [67]:
Ga.score(x_test,y_test)

0.06060606060606061

In [68]:
from joblib import dump,load

In [69]:
dump(L,"model1")

['model1']